.spot-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 35px;
  }

  .spot-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .create-spot-button {
    background-color: rgb(110, 106, 106);
    color: rgb(236, 226, 226);
    border-radius: 5px;

  }

  .create-spot-button:hover {
    color: white;
    background-color: rgb(68, 66, 66);
    box-shadow: 0 0 5px 0 rgb(128, 122, 122);
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 800px) {
    .spot-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 799px) {
    .spot-list {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
