.spot-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 5px;
  }


  @media (min-width: 800px) {
    .spot-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 799px) {
    .spot-list {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
