.navBar {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgray;
    width: 100%;
}

.menu {
    margin-right: 3vmin;
    margin-left: 3vmin;
}


.right-side {
    display: flex;
    align-items: center;
}

.airbnb-logo {
    max-width: 150px;
    height: auto;

  }

.nav-link {
    text-decoration: none;
}
