  .profile-dropdown {
    list-style-type: none;
  }

  .hidden {
    display: none;
  }


  button,
 .pointer {
    cursor: pointer;
  }

  .pointer {
    padding: 5px 0px;

  }

  .profile-button {
    max-width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
  }

  .bars {
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .person {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
